.pio/
*.o
*.a
*.elf
*.bin
eval_acc
eval_debug
test_inf
__pycache__/
*.pyc
.~lock*
__pycache__/
scripts/train.jsonl
scripts/val.jsonl
scripts/test_adversarial.jsonl
scripts/vocab.json
scripts/vocab.h
scripts/weights.h
scripts/weights_float.h
scripts/evaluation/
results_fp32.txt
results_int8.txt
results_hybrid.txt
scripts/train.jsonl
scripts/val.jsonl
scripts/test_adversarial.jsonl
scripts/vocab.json
scripts/vocab.h
scripts/weights.h
scripts/weights_float.h
scripts/evaluation/
scripts/model.pt
results_fp32.txt
results_int8.txt
results_hybrid.txt
